body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg {
  margin-top: 0.4%;
  padding-top: 15%;
  /* The image used */
  background-image: url("./assets/laptop.jpg");

  /* Half height */
  height: 800px;
  /* width: 99%; */
  position: initial;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.codingbg {
  background-image: url("./assets/darkbg.jpg");
  position: initial;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expbg {
  background-image: url("./assets/codingbg2.jpg");
  position: initial;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project {
  transform: scale(0.8);
}
.project:hover {
  transition: transform 200ms;
  transform: scale(1);
}

.Rskill:hover {
  transition: transform 200ms;
  transform: translate(20px, -20px);
}
.Lskill:hover {
  transition: transform 200ms;
  transform: translate(-20px, -20px);
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotate {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    /* transform: rotate(0deg); */
    transform: rotateX(300deg);
  }
  100% {
    /* transform: rotate(360deg); */
    transform: rotateX(360deg);
  }
}
